<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="guest-from card">
            <div class="card-header text-center">
                <h2>Login</h2>
            </div>
            <div class="card-body">
                <form #loginForm="ngForm" (ngSubmit)="login()">
                    <div class="form-group">
                        <label for="username">UserName</label>
                        <input type="text" class="form-control w-75" id="username" name="username" [(ngModel)]="model.username">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control w-75" id="username" name="password" [(ngModel)]="model.password">
                    </div>
                    <div class="form-group">
                        <input type="checkbox" id="remember" name="remember" [(ngModel)]="model.remember">
                        <label class="ml-1" for="remember">Remember Me</label>
                    </div>


                    <div class="form-group">
                        <button class="btn btn-info btn-block w-75">Login</button>
                    </div>
                </form>
            </div>
        </div>
       
    </div>
</div>
